<div class="content">
    <app-toast />

    <app-nav-buttons [showAction]="true" textAction="Ajouter un jeu" (action)="openDialog()" />
    <app-page-title title="Administration" />

    <app-game-table [isLoading]="gameTableService.isLoading()" [games]="gameTableService.tableData" [actions]="actions"></app-game-table>
</div>

@if (isDialogOpen) {
    <div class="fixed inset-0 flex items-center justify-center w-full h-full bg-black/70" (click)="closeDialog()">
        <app-game-creation-dialog (click)="$event.stopPropagation()"></app-game-creation-dialog>
    </div>
}

<ng-template #actions let-game>
    <label class="btn h-full min-w-36 inline-flex items-center gap-2" [ngClass]="gameIsViewable(game) ? 'btn-green' : 'btn-red'">
        <input
            #visibilityCheckbox
            type="checkbox"
            hidden="true"
            [checked]="gameIsViewable(game)"
            [disabled]="isVisibilityToggleDisabled(game)"
            (change)="toggleVisibility($event, game)"
        />
        @if (isVisibilityToggleLoading(game, visibilityCheckbox.checked)) {
            <img
                src="./assets/loading/cogwheel.png"
                alt="Chargement"
                class="h-full w-auto object-contain animate-[spin_2s_steps(16)_infinite] select-none [image-rendering:pixelated]"
                draggable="false"
            />
        }
        <span>Visible</span>
    </label>
    <button class="btn h-full min-w-36" [routerLink]="['/edit', game._id]">Modification</button>
    <button class="btn h-full min-w-36" (click)="deleteGame(game)">Suppression</button>
</ng-template>
