<div class="flex flex-col">
    <div class="flex gap-4 align-items-center text-white">
        <div>
            <img class="w-16 h-16 rounded-full" [src]="avatarUrl" alt="Player Avatar" />
        </div>
        <div>
            <div class="flex gap-4">
                <div>
                    <p>{{ player?.name }}</p>
                </div>
                <div>
                    <p>{{ player?.currentHealth }} / {{ player?.initialHealth }}</p>
                    <div class="flex gap-4">
                        <p><img class="w-4 h-4 inline-block" src="./assets/form-page/runner.svg" />{{
                            player?.rapidityPoints }}</p>
                        <p><img class="w-4 h-4 inline-block" src="./assets/form-page/sword.svg" />{{
                            player?.attackPoints }}</p>
                        <p><img class="w-4 h-4 inline-block" src="./assets/form-page/shield.svg" />{{
                            player?.defensePoints }}</p>
                    </div>
                </div>

                <div>
                    <p>Dé attaque: <img class="size-4" [src]="attackDiceIconUrl" class="w-4 h-4 inline-block" /></p>
                    <p>Dé défense: <img class="size-4" [src]="defenseDiceIconUrl" class="w-4 h-4 inline-block" /></p>
                </div>

                <div>
                    <p>Actions restantes: {{ player?.actionsLeft }}</p>
                    <p>Points de mouvement: {{ player?.movementLeft }}</p>
                </div>
            </div>
        </div>
    </div>
</div>