Félix Cadieux <cadieuxfelix@outlook.com> <felix.cadieux@polymtl.ca>
Victor Paul-Hus-Côté <victor.paul-hus-cote@outlook.com>
Jérémie Lestage <jeremielestage@yahoo.ca>
Lina Aksas <lina.aksas223@gmail.com> <lina.aakss@gmail.com>
Thomas Pronovost <thomas.pronovost@polymtl.ca> <thomaspronovost@desktop-shc5vji.ht.home> <thomas.pronovost@oronospolytechnique.com> <pronovost.t@outlook.com>
Alex Caya <acaya2005@gmail.com>
