Félix Cadieux <felix.cadieux@polymtl.ca> <cadieuxfelix@outlook.com>
Victor Paul-Hus-Côté <victor.paul-hus-cote@polymtl.ca> <victor.paul-hus-cote@outlook.com>
Jérémie Lestage <jeremie.lestage@polymtl.ca> <jeremielestage@yahoo.ca>
Lina Aksas <lina.aksas@polymtl.ca> <lina.aksas223@gmail.com>
Lina Aksas <lina.aksas@polymtl.ca> <lina.aakss@gmail.com>
Thomas Pronovost <thomas.pronovost@polymtl.ca> <thomaspronovost@desktop-shc5vji.ht.home>
Thomas Pronovost <thomas.pronovost@polymtl.ca> <thomas.pronovost@oronospolytechnique.com>
Thomas Pronovost <thomas.pronovost@polymtl.ca> <pronovost.t@outlook.com>
Alex Caya <alex.caya@polymtl.ca> <acaya2005@gmail.com>
