@if (isFinished) {
    <div class="w-full flex justify-center">
        <div class="bg-white text-black p-6 rounded-xl shadow-xl text-center w-96 border">
            <h2 class="text-2xl font-bold mb-3">Partie terminée</h2>

            @if (winner) {
                <p class="mb-2">
                    Le gagnant est : <span class="font-semibold">{{ winner }}</span>
                </p>
            } @else {
                <p class="mb-2">Pas de gagnant clair. Tous les joueurs ont abandonnés</p>
            }
        </div>
    </div>
}
