<div
    id="grid-container"
    class="relative flex h-full w-full items-center justify-center gap-4 p-4"
    [class.cursor-crosshair]="activeGameService.attackMode()"
>
    <app-game-grid
        class="w-[min(100cqw,100cqh)]! h-[min(100cqw,100cqh)]!"
        [cells]="gameCells"
        [getObjectAt]="getObjectAt"
        [highlightedTiles]="reachableTiles"
        [players]="gamePlayers"
        [playerAvatarPortrait]="false"
        [useBackgroundRendering]="true"
        gridClass="rounded-lg"
        (cellContextMenu)="onGridCellContextMenu($event)"
        (playerClicked)="onPlayerClicked($event.name)"
    />
    <app-tile-info-popup [data]="tileInfoPopupData" />
</div>
