<div
    id="grid-container"
    class="relative flex h-full w-full items-center justify-center gap-4 p-4"
    [class.cursor-crosshair]="activeGameService.attackMode()"
>
    <div
        #grid
        class="grid bg-gray-400 w-[min(100cqw,100cqh)] h-[min(100cqw,100cqh)] select-none"
        [ngClass]="'grid-' + activeGameService.activeGame.game.board.cells.length"
    >
        @for (row of activeGameService.activeGame.game.board.cells; track $index; let rowIndex = $index) {
        @for (cell of row; track $index; let colIndex = $index) {
        <div class="relative w-full h-full"
            (contextmenu)="onCellRightClick($event, rowIndex, colIndex, cell)">
            @if (isLocalPlayerTurn &&
            this.activeGameService.reachableTiles.has(this.activeGameService.getIndex(rowIndex, colIndex,
            this.totalColumns))) {
            <div class="absolute inset-0 bg-blue-400/40 z-10"></div>
            }

                    <app-edition-cell
                        [cellType]="cell"
                        [rowIndex]="rowIndex"
                        [colIndex]="colIndex"
                        [item]="boardSharedService.getObjectAt(rowIndex, colIndex, activeGameService.activeGame.game.board.items)"
                    ></app-edition-cell>
                    @for (player of activeGameService.getPlayersAtPosition(rowIndex, colIndex); track player.name) {
                        <div
                            class="absolute inset-0 z-40 bg-center bg-[length:100%_100%] bg-no-repeat rounded-full m-1"
                            style="background-image: url('assets/form-page/{{ player.avatar }}.png')"
                            (click)="onPlayerClicked(player.name); $event.stopPropagation()"
                        ></div>
                    }
                </div>
            }
        }
    </div>
    <app-tile-info-popup [data]="tileInfoPopupData" />
</div>
