<h2 mat-dialog-title>Créer un jeu</h2>

<mat-dialog-content class="h-full">
    <div [formGroup]="form" class="flex flex-col h-full justify-evenly p-5">
        <div class="mode-toggle w-full">
            <mat-slide-toggle formControlName="isCTF" color="primary" [disabled]="true">
                {{ form.get('isCTF')?.value ? 'CTF Mode' : 'Normal Mode' }}
            </mat-slide-toggle>
        </div>

        <mat-form-field class="w-full">
            <mat-label>Sélectionner la taille du jeu</mat-label>
            <mat-select formControlName="dimension">
                <mat-option value="10x10">10x10</mat-option>
                <mat-option value="15x15">15x15</mat-option>
                <mat-option value="20x20">20x20</mat-option>
            </mat-select>
        </mat-form-field>

        <div>
            La partie pourra avoir {{numberOfPlayers}} joueurs
        </div>
        <div>
            La partie aura {{gameSize}} cases
        </div>




    </div>

</mat-dialog-content>
<mat-dialog-actions>
    <button matButton (click)="createGame()" cdkFocusInitial>Create</button>
</mat-dialog-actions>
