<h1 mat-dialog-title>Créer un jeu</h1>

<mat-dialog-content>
    <div [formGroup]="form" class="">
        <div class="pb-4">
            <mat-slide-toggle formControlName="isCTF" color="primary" [disabled]="true">
                {{ form.get('isCTF')?.value ? 'Mode CTF' : 'Mode normal' }}
            </mat-slide-toggle>
        </div>

        <mat-form-field class="w-full">
            <mat-label>Sélectionner la taille du jeu</mat-label>
            <mat-select formControlName="dimension">
                <mat-option value="10x10">Petite</mat-option>
                <mat-option value="15x15">Moyenne</mat-option>
                <mat-option value="20x20">Grande</mat-option>
            </mat-select>
        </mat-form-field>

        <div>La partie pourra avoir {{ numberOfPlayers }} joueurs</div>
        <div>La partie aura {{ form.get('dimension')?.value ?? '0x0' }} cases</div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="btn btn-green ml-auto" cdkFocusInitial (click)="createGame()">Créer</button>
</mat-dialog-actions>
