<div class="flex flex-col overflow-hidden bg-[#233f74] rounded-lg w-full h-full sm:w-100 sm:h-fit gap-4 p-4">
    <div class="text-2xl text-white tracking-wider text-center">Créer un jeu</div>

    <form [formGroup]="form" class="flex grow flex-col justify-center gap-4">
        <div class="flex flex-row gap-4 justify-center">
            <button type="button" class="btn flex-1" [ngClass]="isCTFMode ? '' : 'btn-blue'" (click)="toggleGameMode(false)">Mode normal</button>

            <button
                type="button"
                class="btn flex-1"
                [ngClass]="isCTFMode ? 'btn-blue' : ''"
                (click)="toggleGameMode(true)"
                [disabled]="form.get('isCTF')?.disabled"
            >
                Mode CTF
            </button>
        </div>

        <div class="flex flex-col gap-2">
            <label for="dimension-select" class="text-white tracking-wider">Sélectionner la taille du jeu</label>
            <select id="dimension-select" formControlName="dimension" class="select w-full">
                @for (option of dimensionOptions; track option.value) {
                    <option [value]="option.value">{{ option.label }}</option>
                }
            </select>
        </div>

        <div class="flex flex-col text-sm text-white tracking-widest gap-1">
            <span>La partie pourra avoir {{ numberOfPlayers }} joueurs.</span>
            <span>La partie aura {{ displaySize }} cases.</span>
        </div>
    </form>

    <div class="flex shrink flex-col gap-2">
        <button type="button" class="btn btn-green" (click)="createGame()" [disabled]="form.invalid">Créer</button>
    </div>
</div>
