<div class="text-2xl text-white tracking-wider text-center">Actions</div>

<!--
This component should stay at the top of the panel
This component is the player's stats (Avatar, name, role, health, attack, defense, speed, movement points, action points, victories, etc.)
What should be clearly visible is the avatar picture, the name, the movement points and the action points. everything else should be shown but are less important so smaller
Do not use icons, only letters and number. the only picture in this component should be the player's avatar
-->

<!--
At the bottom of this component should be 2 buttons and a label indicating who is playing and how much time is left to play.
one button is to skip a turn and should be red
the other button is to take an action and is toggolable (gray by default, blue when the player clicks it to do something)
the buttons must be disabled if they cannot be clicked (i.e. not its turn, in combat) or active if they can be clicked (i.e. organizer and in debug mode so skip turn can be clicked)
-->
