<div class="flex flex-col">
    <span class="text-white tracking-wider">Descriptions des attributs</span>
    <ul class="list-disc list-outside pl-4 text-sm text-white tracking-widest">
        <li>Vie : Le nombre de points de vie du personnage.</li>
        <li>Rapidité : Détermine l'ordre des tours et les points de mouvement par tour.</li>
        <li>Attaque : La force avec laquelle une attaque est faite sur l'adversaire.</li>
        <li>Défense : La capacité à bloquer l'attaque d'un adversaire.</li>
    </ul>
</div>
