<div class="content main-page-content">
    <main class="main-page-main">
        <aside class="main-page-aside">
            <img class="main-page-img" src="assets/projectImage.png" alt="Logo du jeu" />
        </aside>
        <section class="main-page-section">
            <h1 class="main-page-title">OK Garmin - Erstelle ein Rollenspiel mit Angular</h1>
            <nav class="main-page-nav">
                <button class="btn main-page-btn" routerLink="/wait">Joindre une partie</button>
                <button class="btn main-page-btn" routerLink="/create">Créer une partie</button>
                <button class="btn main-page-btn" routerLink="/admin">Administrer les jeux</button>
            </nav>
        </section>
    </main>

    <footer class="main-page-footer">
        <span>© 2026 LOG2995 - Équipe 301</span>
        <span>Lina Aksas, Félix Cadieux, Alex Caya, Jérémie Lestage, Victor Paul-Hus-Côté, Thomas Pronovost</span>
    </footer>
</div>
