@if (isFinished) {
    <div class="fixed inset-0 z-[1000] flex items-center justify-center backdrop-blur-sm">
        <div class="bg-white text-black p-6 rounded-xl shadow-xl text-center w-96 border">
            <h2 class="text-2xl font-bold mb-3">Partie terminée</h2>

            @if (winner) {
                <p class="mb-2">
                    Le gagnant est : <span class="font-semibold">{{ winner }}</span>
                </p>
            } @else {
                <p class="mb-2">Pas de gagnant clair. Tous les joueurs ont abandonnés</p>
            }

            <p class="text-sm italic mb-4">Retour à l'accueil dans 5 secondes...</p>

            <button class="btn btn-primary" (click)="navigateHome()">Retour maintenant</button>
        </div>
    </div>
}
