<div class="content">
    <app-nav-buttons />
    <app-page-title title="Statistiques de fin partie" />

    @if (activeGame) {
        <div class="flex flex-col xl:flex-row justify-center gap-4 lg:h-[80vh]">
            <div class="flex flex-col overflow-hidden bg-[#233f74] rounded-lg flex-3 gap-4 p-4">
                <app-final-player-list [activeGame]="activeGame"></app-final-player-list>
            </div>

            <div class="flex flex-col overflow-hidden bg-[#233f74] rounded-lg flex-1 gap-4 p-4">
                <app-global-stats [activeGame]="activeGame"></app-global-stats>
            </div>

            <div class="flex flex-col overflow-hidden bg-[#233f74] rounded-lg flex-1 gap-4 p-4 h-full">
                <div class="flex min-h-0 flex-none flex-col gap-3 rounded-lg border border-white/10 bg-white/5 p-3 h-full">
                    <app-message-zone></app-message-zone>
                </div>
            </div>
        </div>
    }
</div>
