<div class="flex flex-col gap-2">
    <div class="text-white tracking-wider">Attributs</div>
    <div class="grid grid-cols-2 gap-2">
        <app-attribute-display
            [name]="'Vie'"
            [value]="selectedAvatarIndex !== null ? avatars[selectedAvatarIndex].character.initialHealth : '-'"
            [bgColor]="'bg-[#a39fff]'"
        />
        <app-attribute-display
            [name]="'Rapidité'"
            [value]="selectedAvatarIndex !== null ? avatars[selectedAvatarIndex].character.rapidityPoints : '-'"
            [bgColor]="'bg-[#f1969a]'"
        />
        <app-attribute-display
            [name]="'Attaque'"
            [value]="selectedAvatarIndex !== null ? avatars[selectedAvatarIndex].character.attackPoints : '-'"
            [bgColor]="'bg-[#fdb7c5]'"
        />
        <app-attribute-display
            [name]="'Défense'"
            [value]="selectedAvatarIndex !== null ? avatars[selectedAvatarIndex].character.defensePoints : '-'"
            [bgColor]="'bg-[#cea0d9]'"
        />
    </div>
</div>
