<app-editor-item-selector
    class="flex grow flex-col"
    (materialSelected)="materialSelected.emit($event)"
    (objectSelected)="objectSelected.emit($event)"
/>

<div class="border-t border-white"></div>

@if (objectErrorMessages().length > 0) {
    <div class="bg-red-900/30 border border-red-500 text-red-500 text-sm p-2 text-center">
        @for (error of objectErrorMessages(); track $index) {
            <p>{{ error }}</p>
        }
    </div>
}

<div class="flex shrink flex-col justify-center gap-2">
    @for (tool of boardEditorService.availableTools; track tool) {
        <button type="button" [class]="toolButtonClass(tool)" (click)="toolSelected.emit(tool)">
            {{ toolDescriptions()[tool] }}
        </button>
    }
</div>
