<div class="flex flex-col text-white gap-4">
    <p class="text-2xl">Liste des joueurs</p>

    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Combats</th>
                <th>Victoires</th>
                <th>Défaites</th>
                <th>PDV perdus</th>
                <th>Dommages totaux</th>
                <th>% tuiles visitées</th>
            </tr>
        </thead>
        <tbody>
            @for (player of activeGame.players; track $index) {
                <tr>
                    <td>
                        <img [src]="getAvatarUrl(player)" class="w-16 h-16 p-2 rounded-full bg-[#1e3a70] object-contain shrink-0" />
                    </td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.nCombats }}</td>
                    <td>{{ player.nVictories }}</td>
                    <td>{{ player.nDefeats }}</td>
                    <td>{{ player.totalDamageReceived }}</td>
                    <td>{{ player.totalDamageDealt }}</td>
                    <td>{{ getPlayerVisitedTilesRatio(player) }}%</td>
                </tr>
            }
        </tbody>
    </table>
</div>
