#grid-container{
    container-type: size;
}

.grid-10{
    grid-template-columns: repeat(10, 1fr);
}

.grid-15{
    grid-template-columns: repeat(15, 1fr);
}

.grid-20{
    grid-template-columns: repeat(20, 1fr);
}