<div>
    <span class="bg-gray-700 text-white text-xs px-2 py-1 rounded"> {{ orderedPlayers.length }} joueurs </span>
</div>

<div class="flex flex-col text-white gap-4">
    @for (player of orderedPlayers; track player.name) {
        <div
            class="flex justify-around justify-items-center rounded-lg p-2"
            [ngClass]="{ 'border-2 border-red-500': player.name === currentPlayerName, 'opacity-50 line-through': player.hasAbandoned }"
        >
            <img [src]="buildPlayerAvatarUrl(player.avatar)" alt="Player Avatar" class="w-8 h-8 rounded-full object-cover [image-rendering:pixelated]" />

            <div class="flex items-center gap-2">
                <span class="p-0"> {{ player.name }}</span>

                @if (isOrganizer(player.name)) {
                    <span class="bg-yellow-500 text-black text-xs px-2 py-1 rounded"> Organisateur </span>
                }
            </div>

            <span>-</span>

            <span class="p-0">{{ player.victories }} victoires</span>
        </div>
    }
</div>
