<button
    (click)="toggle()"
    class="w-30 h-30 flex items-center justify-center rounded-full border font-semibold"
    [disabled]="!gameTurnService.canEndTurn"
    [class.bg-red-600]="this.activeGameService.attackMode()"
    [class.text-white]="this.activeGameService.attackMode()"
    [class.border-red-700]="this.activeGameService.attackMode()"
    [class.bg-gray-200]="!this.activeGameService.attackMode() || !gameTurnService.canEndTurn"
    [class.text-gray-800]="!this.activeGameService.attackMode() || !gameTurnService.canEndTurn"
    [class.border-gray-400]="!this.activeGameService.attackMode() || !gameTurnService.canEndTurn"
    [class.opacity-50]="!gameTurnService.canEndTurn"
    [class.cursor-not-allowed]="!gameTurnService.canEndTurn"
>
    Attack
</button>
