<div class="text-2xl text-white tracking-wider text-center">Carte du jeu</div>

<div class="flex grow flex-col items-center gap-2 min-h-0 min-w-0">
    <div
        class="grid aspect-square max-h-full max-w-full w-full auto-rows-fr select-none bg-[#0f1528] outline-none"
        [style.gridTemplateColumns]="'repeat(' + waitGridService.gameCells.length + ', 1fr)'"
        tabindex="-1"
    >
        @for (row of waitGridService.gameCells; track $index; let rowIndex = $index) {
            @for (cell of row; track $index; let colIndex = $index) {
                <div class="relative select-none size-full outline-none overflow-hidden" tabindex="-1">
                    <img
                        [src]="cellImagePath(cell)"
                        [alt]="cell"
                        class="h-full w-full object-fill pointer-events-none select-none"
                        draggable="false"
                    />
                    @if (waitGridService.getObjectAt(rowIndex, colIndex); as item) {
                        <img
                            [src]="objectImagePath(item)"
                            [alt]="item.itemType"
                            class="absolute pointer-events-none select-none max-w-none max-h-none"
                            [ngStyle]="objectExtraStyles(item, rowIndex, colIndex)"
                            draggable="false"
                        />
                    }
                </div>
            }
        }
    </div>
</div>
