<div class="flex flex-row justify-center relative">
    <div class="text-2xl text-white">Informations</div>
    <div class="absolute right-0">
        <img [src]="lockIcon" alt="lock icon" class="h-6 w-6 object-contain pointer-events-none select-none" />
    </div>
</div>

<div class="flex grow flex-col gap-4 min-h-0 min-w-0">
    @if (activeGameService.activeGame) {
        <div class="grid grid-cols-2 gap-2">
            <div class="flex flex-col rounded-lg px-4 py-2 bg-[#a39fff]">
                <span class="text-black tracking-wider">Titre</span>
                <span class="text-3xl wrap-anywhere ml-auto text-right">{{ gameTitle }}</span>
            </div>
            <div class="flex flex-col rounded-lg px-4 py-2 bg-[#f1969a]">
                <span class="text-black tracking-wider">Description</span>
                <span class="text-3xl wrap-anywhere ml-auto text-right">{{ gameDescription }}</span>
            </div>
            <div class="flex flex-col rounded-lg px-4 py-2 bg-[#fdb7c5]">
                <span class="text-black tracking-wider">Taille</span>
                <span class="text-3xl wrap-anywhere ml-auto text-right">{{ tableSize }}×{{ tableSize }}</span>
            </div>
            <div class="flex flex-col rounded-lg px-4 py-2 bg-[#cea0d9]">
                <span class="text-black tracking-wider">Mode de jeu</span>
                <span class="text-3xl wrap-anywhere ml-auto text-right">{{ gameMode }}</span>
            </div>
        </div>

        <div class="border-t border-white"></div>

        <app-game-grid [cells]="table" [getObjectAt]="getObjectAt" gridClass="sm:w-1/2 rounded-lg mx-auto" />
    }
</div>
