<div class="content h-dvh overflow-hidden">
    @if (isLoading()) {
        <div class="flex flex-1 justify-center items-center">
            <app-loading-overlay
                loadingText="Chargement de la partie..."
                class="flex flex-col gap-8 items-center justify-center"
            ></app-loading-overlay>
        </div>

        <div class="absolute left-0 bottom-4 w-full flex justify-center">
            @if (showButton()) {
                <button class="btn" routerLink="/home">Retour vers la vue initiale</button>
            }
        </div>
    } @else {
        <app-nav-buttons textBack="Abandonner la partie" />
        <app-page-title title="Vue de jeu" />

        <section class="flex flex-1 min-h-0 flex-col lg:flex-row justify-center gap-4 overflow-hidden">
            <app-game-action-panel class="flex flex-col overflow-hidden bg-[#233f74] rounded-lg flex-1 gap-4 p-4" />

            <app-game-grid-panel class="flex flex-col overflow-hidden bg-[#233f74] rounded-lg flex-2 gap-4 p-4" />

            <app-game-info-panel class="flex flex-col overflow-hidden bg-[#233f74] rounded-lg flex-1 gap-4 p-4" />
        </section>

        @if (isGameFinished) {
            <app-game-ended />
        }
    }
</div>
