<div class="content min-h-dvh overflow-y-auto lg:h-dvh lg:overflow-hidden">
    @if (isLoading()) {
        <div class="flex flex-1 justify-center items-center">
            <app-loading-overlay
                loadingText="Chargement de la partie..."
                class="flex flex-col gap-8 items-center justify-center"
            ></app-loading-overlay>
        </div>

        <div class="absolute left-0 bottom-4 w-full flex justify-center">
            @if (showButton()) {
                <button class="btn" routerLink="/home">Retour vers la vue initiale</button>
            }
        </div>
    } @else {
        <app-nav-buttons textBack="Abandonner la partie" />
        <app-page-title title="Vue de jeu" />

        <section class="flex flex-col lg:flex-row justify-center gap-4 pb-4 lg:pb-0 lg:flex-1 lg:min-h-0 lg:overflow-hidden">
            <app-game-action-panel class="w-full lg:w-auto flex flex-col bg-[#233f74] rounded-lg gap-4 p-4 lg:flex-1 lg:overflow-scroll" />

            <app-game-grid-panel class="w-full lg:w-auto flex flex-col bg-[#233f74] rounded-lg gap-4 p-4 lg:flex-2 lg:overflow-hidden" />

            <app-game-info-panel class="w-full lg:w-auto flex flex-col bg-[#233f74] rounded-lg gap-4 p-4 lg:flex-1 lg:overflow-hidden" />
        </section>

        @if (isGameFinished) {
            <app-game-ended />
        }
    }
</div>
